<footer>
    <div class="footer-content" >

        <div class="copyright">
            Copyright &copy; Blog India
        </div>
        
        <div class="social-icons">
            <!-- Add Instagram icon -->
            <a href="https://www.instagram.com/your_instagram_username" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- Add YouTube icon -->
            <a href="https://www.youtube.com/your_youtube_channel" target="_blank" class="social-icon">
                <i class="fab fa-youtube"></i>
            </a>
            <!-- Add Facebook icon -->
            <a href="https://www.facebook.com/your_facebook_page" target="_blank" class="social-icon">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        
    </div>
</footer>
