<nav>
    <div class="site-title">
      <div>
        <a href="/"><h1>Blog India</h1></a>
        <p>Posting blogs from around the corners</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </div>
  </nav>
  