<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
        <h1 class="abouthead">Welcome to Blog India</h1>
        <p class="abouthead">Your Ultimate Destination for Creative Expression</p>
  <section>
    <h2>Meet the Creator</h2>
    <p>Blog India is the brainchild of Dhrumil Parekh, a passionate computer engineering student at Darshan University. With a vision to provide a platform for creative minds to share their thoughts, experiences, and stories with the world, Dhrumil embarked on this exciting journey to create Blog India.</p>
</section>

<section>
    <h2>Our Mission</h2>
    <p>At Blog India, our mission is to empower individuals from all walks of life to express themselves freely. Whether you're a seasoned writer, an aspiring blogger, or simply someone with a story to tell, Blog India is here to amplify your voice.</p>
</section>

<section>
    <h2>What We Offer</h2>
    <h3>Create, Share, Inspire</h3>
    <p>Blog India is a user-friendly platform that allows anyone and everyone to create, publish, and share their blogs effortlessly. Whether you have insights to share, knowledge to impart, or tales to tell, our platform provides you with the tools to make your mark in the digital world.</p>
    
    <h3>A NodeJS and MongoDB Marvel</h3>
    <p>Behind the scenes, Blog India is powered by cutting-edge technology. We've leveraged Node.js and Express.js to provide a seamless and responsive user experience. For our robust database needs, we've partnered with MongoDB Atlas, ensuring the security and scalability of your data.</p>
</section>

<section>
    <h2>Join Our Community</h2>
    <p>Blog India isn't just a platform; it's a community of passionate bloggers and readers. We invite you to be a part of this vibrant ecosystem, where you can read, engage, and connect with like-minded individuals who share your interests.</p>
</section>

<section>
    <h2>Contact Us</h2>
    <p>Have questions, feedback, or ideas for Blog India? We'd love to hear from you! Feel free to <a href="">contact us</a>, and we'll be sure to get back to you promptly.</p>
</section>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
